{{> navbar}}

<!-- Recipe Card Grid Layout -->
<div class="grid-container">
    <div class="grid-x grid-padding-x">

{{#each recipetwos}}
        <div class="large-4 medium-6 small-12 cell">
            <div class="card" style="width: 300px;">
                <div class="card-section">

                    <!-- Recipe Title -->
                    <div class="card-divider">
                        <h4 id="name" data-id="{{{this.dataValues.name}}}"> {{this.dataValues.name}} </h4>
                    </div>

                    <!-- Image -->
                    {{#if this.dataValues.imageUrl}}
                      <img id="image" data-id="{{{this.dataValues.imageUrl}}}" src="{{{this.dataValues.imageUrl}}}" alt=""/>
                    {{/if}}

                    <!-- Instructions -->
                    <div class="card-section">
                      {{#if this.dataValues.summary}}
                        <p id="summary" data-id="{{{this.dataValues.summary}}}">{{{this.dataValues.summary}}}</p>
                      {{/if}}
                    </div>
                    <button type="button" class="button warning" id="post"><bold><em>FAVE</em></bold></button>
                </div>
            </div>
        </div>
        {{/each}}


        
{{> footer}}


<!-- JS -->
<script type="text/javascript" src="../public/assets/js/search.js"></script>
<script type="text/javascript" src="../public/assets/js/post.js"></script>